.DS_Store

# Elastic Beanstalk CLI Files
.elasticbeanstalk/*

# Elastic Beanstalk config
.ebextensions/*
.ebextensions/vars.config

# aws credentials
.aws/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env
