# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8081
    NODE_ENV: production
    SF_USERNAME: louis@easylifedc.be
    SF_PASSWORD: Easy12345 
    SF_SECURITY_TOKEN: 0yth9xsTUKt98bO4hIjCMuK0j
    SMTP_HOST: smtp.postmarkapp.com
    SMTP_USERNAME: 76c3c4af-48e0-4980-919b-8587ce19437e 
    SMTP_PASSWORD: 76c3c4af-48e0-4980-919b-8587ce19437e