# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8081
    NODE_ENV: production
    SF_USERNAME: louis@easylifedc.be
    SF_PASSWORD: Easy12345
    SF_SECURITY_TOKEN: 0yth9xsTUKt98bO4hIjCMuK0j
    DATABASE_URL: postgres://urmoenlkxnljfr:77060e61c7cf5b9a7ccf4ff2227ed5da893f8aed56a98e47d20c19e62c196dc1@ec2-23-23-173-30.compute-1.amazonaws.com:5432/d2484k80c5m81n
    DBNAME: d2484k80c5m81n
    DBPASSWORD: 77060e61c7cf5b9a7ccf4ff2227ed5da893f8aed56a98e47d20c19e62c196dc1
    DBPORT: ec2-23-23-173-30.compute-1.amazonaws.com
    DBUSER: urmoenlkxnljfr
    DBHEROKUCLI: heroku pg:psql postgresql-round-70236 --app secure-bastion-10091
    SMTP_HOST: smtp.postmarkapp.com
    SMTP_USERNAME: 76c3c4af-48e0-4980-919b-8587ce19437e
    SMTP_PASSWORD: 76c3c4af-48e0-4980-919b-8587ce19437e
